<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<title>Dashboard</title>

	<link href="./css/test.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
          <span class="align-middle">AdminKit</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/home">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/newUser">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Register Official</span>
            </a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/orders">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">New Order</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/checkorder">
              <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Check Status</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/deleteorder">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Deliver Clothes</span>
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="/">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Log Out</span>
            </a>
					</li>



				</ul>


			</div>
		</nav>

		<div class="main">


			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Previous Orders</h1>
					<div class="row">
						<% if (orderresult && orderresult.length > 0) { %>
						<% for (let i = 0;i<orderresult.length;i++) {%>
						<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<h5 class="card-title mb-0"><%=orderresult[i].date%></h5>
									<h5 class="card-title mb-0"><%=orderresult[i].time%></h5>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
										<div class="py-3">
											<div class="chart chart-xs">
												<canvas id="chartjs-dashboard-pie"></canvas>
											</div>
										</div>

										<table class="table mb-0">
											<tbody>

												<tr>
													<td>Bedsheet</td>
													<td class="text-end"><%= orderresult[i].bedsheet%></td>
												</tr>
												<tr>
													<td>Jean</td>
													<td class="text-end"><%= orderresult[i].jean%></td>
												</tr>
												<tr>
													<td>Tshirt</td>
													<td class="text-end"><%= orderresult[i].tshirt%></td>
												</tr>
												<tr>
													<td>Shirt</td>
													<td class="text-end"><%= orderresult[i].shirt%></td>
												</tr>


											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					<% } %>
	<% } else { %>
			<p>No orders available.</p>
	<% } %>
					</div>






				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="js/app.js"></script>


</body>

</html>
